<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/styles.css">
    <title>Login</title>
</head>
<body>
    <div class="login-container">
        <h1>Login</h1>
        <form action="/login" method="post">
            <p>Enter Name:</p>
            <p><input type="text" name="nm" /></p>
            <p><input type="submit" value="Submit" /></p>
        </form>
    </div>
</body>
</html>
